body {
    background-color: black;
}

.cell {
    height: 20px;
    width: 20px;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: gray;
    color: gray;
}

.board {
    table-layout: fixed;
    width: 50%;
    empty-cells: show;
    text-align: center;
    height: 223px;
    width: 223px;
}

.modify {
    table-layout: fixed;
    text-align: center;
    border: black solid 1px;
    background-color: rgb(112, 80, 80);
    margin-inline: 113px;

}

.smiley {
    font-size: 30px;
    width: 55px;
    height: 50px;
    background-color: rgb(171, 102, 12);
    text-align: center;
}

.timer {
    border: black solid 1px;
    margin-inline: 430px;
    margin-block: 10px;
    padding: 20px;
    font-size: 40px;
}

button {
    width: 80px;
    height: 30px;
    background-color: rgb(171, 102, 12);

}




.shown {
    background-color: rgb(241, 234, 234);
}